@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open sans", Sans-Serif;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  scroll-margin-top: 8rem;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.09);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.1);
}