@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open sans", Sans-Serif;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}
