@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open sans", Sans-Serif;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  scroll-margin-top: 8rem;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.09);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.1);
}

/* clears the x from search input*/
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }